.block {
  display: block;
}

.reply {
  margin-left: 30px;
}

.icon-box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
}

.dot {
  padding: 2px;
}

.nickname {
  display: inline;
  margin-right: 20px;
  margin-left: 15px;
  font-size: 20px;
}

/* 드롭다운 메뉴 컨테이너 */
.editDropdownContainer {
  position: relative;
}

/* 드롭다운 메뉴 */
.editDropdownMenu {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.editDropdownMenu button {
  padding: 10px;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bold;
}

.editDropdownMenu button:hover {
  border-bottom: none;
  background-color: var(--sub-theme-color);
  color: white;
}

.editDropdownMenu button:last-child {
  border-bottom: none;
  color: tomato;
}

.editDropdownMenu button:last-child:hover {
  border-bottom: none;
  background-color: rgb(230, 114, 94);
  color: white;
}

/* 숨김 처리된 요소 */
.dropdownMenuHidden {
  display: none;
}

/* 추가: 아이콘 버튼 스타일링 */
.backIconButton,
.editIconButton,
.deleteIconButton,
.scrapIconButton {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.backIconButton:hover,
.editIconButton:hover,
.deleteIconButton:hover,
.scrapIconButton:hover {
  transform: scale(1.1);
}

.interactionStats {
  display: flex;
  float: right;
  align-items: center; /* 아이콘과 숫자를 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  width: 40px; /* 동그라미 크기 조절 */
  height: 40px; /* 동그라미 크기 조절 */
  border-radius: 10px; /* 동그라미 모양 만들기 */
  border: 1px solid var(--sub-theme-color); /* 테두리 색상 */
  margin: 10px; /* 주변 요소와의 간격 */
  background-color: #f9f9f9; /* 배경색 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
}

.interactionStats .iconConatiner {
  padding: 5px;
}

.interactionStats:hover {
  background-color: var(--sub-theme-color); /* 호버 시 배경색 변경 */
  color: white;
}

.interactionStats > svg {
  margin-right: 5px; /* 아이콘과 숫자 사이 간격 */
}
