.project-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
}

.project-title {
  padding: 8px;
  font-weight: bold;
}

.project-language {
  width: 70px;
  color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  text-align: center;
}

.project-description {
  font-size: 16px;
  color: #333333;
  margin-bottom: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-created-time {
  font-size: 14px;
  color: #777777;
}

.project-action {
  background-color: var(--main-theme-color);
  font-weight: bold;
  color: #34568b;
  border: 1px #34568b solid;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.project-action:hover {
  background-color: #34568b;
  color: white;
}
