.completed-box {
  background: #ccf0fe;
  border-radius: 50px;
  margin-right: 15px;
  padding: 8px;
  font-size: 13px;
  font-weight: 700;
}

.right {
  float: right;
}

.mt-15 {
  margin-top: 15px;
}

.board-item {
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  overflow-y: auto;
  transition: background-color 0.3s ease; /* 호버 효과를 위한 부드러운 전환 */
  display: flex; /* 항목 내용을 플렉스 박스로 배치 */
  flex-direction: column;
}

.board-item:hover {
  background-color: var(--main-theme-color);
  transition: background-color 0.5s ease;
}

.board-item-content {
  margin: 20px 0px 15px 10px; /*위 오른 아래 왼*/
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  max-width: 100vh;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bottom-icon {
  display: flex; /* 아이콘을 플렉스 박스로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 10px;
}
.bottom-icon-number {
  margin-left: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
