.test {
  background-color: rgb(127, 127, 234);
  box-sizing: border-box;
}

.box-border {
  box-sizing: border-box;
}

.w-50 {
  width: 50%;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.m-10 {
  margin: 10px;
}

.board-item {
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
}

.board-item-bottom-right {
  float: right;
}

.board-item-bottom-icon {
  margin-left: 10px;
}
.board-item-bottom-icon-number {
  margin-left: 5px;
}

.board-item-completed-box {
  background: #ccf0fe;
  border-radius: 50px;
  margin-right: 15px;
}

.board-item-content {
  margin: 20px 0px 15px 10px; /*위 오른 아래 왼*/
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.user-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.board-write-btn {
  position: relative;
  bottom: 20px;
  left: 0px;

  border: none;
  border-radius: 16px;
  background: royalblue;
  color: white;
  padding: 12px;
  font-weight: bold;
  box-shadow: 0px 5px 15px gray;
  cursor: pointer;
}
