.test {
  background-color: var(--main-theme-color);
  max-height: 92.5vh;
  min-height: 92.5vh;
  overflow-y: auto;
}

.board {
  background-color: var(--main-theme-color);
  max-height: 90vh;
  min-height: 90vh;
  min-width: 50vh;
}

.inline {
  display: inline;
}

.display-flex-center {
  display: flex;
  align-items: center;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.float-right {
  float: right;
}

.line-bottom {
  border-bottom: 1px solid black;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}
.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.m-10 {
  margin: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.font-bold {
  font-weight: 700;
}

.display-flex-start {
  display: flex;
  justify-content: flex-start;
}

.display-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.display-flex-justify-center {
  display: flex;
  justify-content: center;
}

.relative {
  position: relative;
}

.bg-white {
  background-color: white;
}

.bg-sub-color {
  background-color: #062b52;
  color: white;
}

.comment-input {
  background-color: white;
  width: 98%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.display-flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-end {
  justify-content: flex-end;
}

.hori-dot {
  padding: 2px;
}

.hori-dot:hover {
  background-color: rgb(218, 218, 218);
}

.edit-modal {
  z-index: 999;
  position: absolute;
  top: 15%;
  left: 25%;
  min-width: 50%;
  min-height: 50%;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 50px;
}

.close-btn {
  float: right;
  margin: 15px;
}

.hidden {
  display: none;
}

.reply {
  margin-left: 40px;
  background-color: rgb(228, 239, 248);
  border: 0.2px solid aqua;
}

.flex-space-betwwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
