
  body{
    background-color: var(--main-theme-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    font-family: "Inter"
  }

  .logoPosition {
    margin-bottom: 20px; /* 로고와 다음 요소 사이의 간격 */
    text-align:center;
    width: 100%;
  }
  
   /* 구글 버튼 */
   .oauthLoginBtn {
    display: block;
    width: 68%;
    
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    color: white;

    background-color: #062b52; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* 구분선 */
  .lineSeparator {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

  .or {
    padding: 0px 10px 10px 10px;
    color: #7f7f7f;
  }

  .LineLeft, .LineRight {
    flex: 1;
    height: 1px;
    border: 1px solid #7f7f7f;
  }

  /* 정보 입력 창 */
  .registerComponent {
    display: block;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;

    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
  }

  .idInput, .passwordInput, .passwordInput_2, .nameInput, .nicknameInput {
    width: calc(100% - 40px); 
    padding: 10px; 
    margin-bottom: 10px; 
    background: #ffffff;

    border: 1px solid #062b52;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  /* 회원가입 - 버튼 */
  .registerBtn {
    display: block;
    width: 100%;
    margin: 10px auto; 
    padding: 10px;
    font-size: 1rem;
    color: white;

    background-color: #062b52; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* 이미 계정이 있으세요? */
  .already {
    display: block;
    width: 70%;
    margin: 10px auto; 
    padding: 10px;
    font-size: 1rem;
    color: #7f7f7f;
    text-align: center;
    margin-bottom: 5px; 
  }

  /* 로그인 하기 */
  .ready {
    display: block;
    width: 70%;
    margin: 10px auto; 
    padding: 10px;
    font-size: 1rem;
    color: #7f7f7f;
    text-align: center;
    margin-bottom: 5px; 
  }