<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 7d291f6 (Refactor : GI-13 로그인css 리팩토링)
/* 
  body{
    background-color: var(--main-theme-color);

<<<<<<< HEAD
  } */

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter";
}

.logoPosition {
  margin-bottom: 20px; /* 로고와 다음 요소 사이의 간격 */
  text-align: center;
  width: 100%;
}

/* 구글 버튼 */
.oauthLoginBtn {
  display: block;
  width: 68%;

  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: white;

  background-color: #062b52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 구분선 */
.lineSeparator {
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
}

.or {
  padding: 0px 10px 10px 10px;
  color: #7f7f7f;
}

.LineLeft,
.LineRight {
  flex: 1;
  height: 1px;
  border: 1px solid #7f7f7f;
}

/* 정보 입력 창 */
.registerComponent {
  display: block;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 10px auto;

  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;
}

.idInput,
.passwordInput,
.passwordInput_2,
.nameInput,
.nicknameInput {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffff;

  border: 1px solid #062b52;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 회원가입 - 버튼 */
.registerBtn {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: white;

  background-color: #062b52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 이미 계정이 있으세요? */
.already {
  display: block;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 5px;
}

/* 로그인 하기 */
.ready {
  display: block;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 5px;
}
<<<<<<< HEAD
=======

  /* 전체 컨테이너 */
  .all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
<<<<<<< HEAD
    font-family: "Inter";
    text-align: center;
  }

  /* 로고 */
  .logo-position {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  /* 구글*/
  .oauth-login-btn {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin: 0px auto; 
    padding: 10px; 
    font-size: 1rem;
    color: white;

    background-color: #062b52; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
   /* 구분선 + 입력칸 */
  .register-component {
    display: block;
    width: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 10px auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
  }

  /* 구분선 */
  .line-separator {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}
  .or {
    padding: 0px 10px 10px 10px;
    color: #7f7f7f;
  }
  .line-left, .line-right {
    flex: 1;
    height: 1px;
    border: 1px solid #7f7f7f;
  }

  /* 입력칸 */
  .id-input, .password-input, .password-input_2, .name-input, .nickname-input {
    text-align: center;
    width: 500px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin-bottom: 10px; 
    background: #ffffff;

    border: 1px solid #062b52;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  /* 회원가입 버튼 */
  .register-btn {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin: 0px auto; 
    padding: 10px; 
    font-size: 1rem;
    color: white;

    background-color: #062b52; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
  }

  /* 로그인 확인 */
  .already { 
    width: 500px; 
    display: flex;
    font-size: 14px;
    color: #7f7f7f;
    margin-top: 40px;
    margin-bottom: 0px; 
    margin-right: 0px;
    padding: 10px;
    justify-content: space-between;
  }

  .q {
    margin-right: auto;
    display: inline-block;
  }

  .login {
    margin-right: auto;
    display: inline-block; 
    color: #7f7f7f;
    text-decoration: underline;
    cursor: pointer; 
  }
>>>>>>> 5f96876 (Refactor: 회원가입 페이지 수정)
=======
    font-family: "Inter"
=======
>>>>>>> da01613 (Feat : GI-14 회원가입 기본 기능 추가)
  } */

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter";
}

.logoPosition {
  margin-bottom: 20px; /* 로고와 다음 요소 사이의 간격 */
  text-align: center;
  width: 100%;
}

/* 구글 버튼 */
.oauthLoginBtn {
  display: block;
  width: 68%;

  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: white;

  background-color: #062b52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 구분선 */
.lineSeparator {
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
}

.or {
  padding: 0px 10px 10px 10px;
  color: #7f7f7f;
}

.LineLeft,
.LineRight {
  flex: 1;
  height: 1px;
  border: 1px solid #7f7f7f;
}

/* 정보 입력 창 */
.registerComponent {
  display: block;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 10px auto;

  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;
}

.idInput,
.passwordInput,
.passwordInput_2,
.nameInput,
.nicknameInput {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffff;

  border: 1px solid #062b52;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 회원가입 - 버튼 */
.registerBtn {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: white;

  background-color: #062b52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 이미 계정이 있으세요? */
.already {
  display: block;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 5px;
}

/* 로그인 하기 */
.ready {
  display: block;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 5px;
}
>>>>>>> 7d291f6 (Refactor : GI-13 로그인css 리팩토링)
=======

.check-text {
  display: inline;
  color: red;
}

.display-none {
  display: none !important;
}
>>>>>>> d26509d (Feat : GI-14 회원가입페이지 이메일 중복체크 비밀번호 재입력 체크 기능)
