.body {
  padding: 20px;
}

.top {
  display: flex;
}

.profile {
  /* padding: 50px; */
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  background-color: white;
  width: 40%;
}

.profile-text {
  margin: 10px 0px 10px 0px;
  font-weight: 700;
  font-size: 18px;
}

.icon {
  border: 1px solid #d9d9d9;
  border-radius: 500px;
}

.comment {
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  background-color: white;
  width: 60%;
}

.board {
  width: 50%;
  min-height: 45vh;
  padding: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  background-color: white;
}

.item {
  border: 2px solid #d9d9d9;
  background-color: black;
}
