.menu-bar {
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.sidebar-button {
  padding: 20px;
}

.sidebar-button.close {
  padding: 10px;
}

.new-project {
  margin-right: 10px;
  font-size: medium;
  color: white;
  background-color: var(--sub-theme-color);
  border: 1px solid var(--sub-theme-color);
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  border-radius: 4px;
  transition: background-color 0.5s ease;
}

.new-project:hover {
  background-color: #87ceeb;
  color: black;
}
