.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter";
  margin: auto;
  width: 70%;
}

.logo-position {
  margin-bottom: 20px; /* 로고와 다음 요소 사이의 간격 */
  text-align: center;
  width: 100%;
}

.oauth-loginBtn {
  display: block;
  width: 100%;

  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: black;

  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.login-component {
  display: block;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;
}

.line-separator {
  display: flex;
  cursor: default;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
}

.or {
  padding: 0px 10px 10px 10px;
  color: #7f7f7f;
}

.line {
  flex: 1;
  height: 0.5px;
  border: 0.5px solid black;
}

.input-box {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffff;

  border: 1px solid #062b52;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.basic-btn {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: white;

  background-color: #062b52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resetPassword {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  letter-spacing: -0.023em;
  float: right;

  color: #7f7f7f;
}
<<<<<<< HEAD
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter";
  margin: auto;
  width: 70%;
}

.logo-position {
  margin-bottom: 20px; /* 로고와 다음 요소 사이의 간격 */
  text-align: center;
  width: 100%;
}

.oauth-loginBtn {
  display: block;
  width: 100%;

  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: black;

  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.login-component {
  display: block;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;
}

.line-separator {
  display: flex;
  cursor: default;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
}

.or {
  padding: 0px 10px 10px 10px;
  color: #7f7f7f;
}

.line {
  flex: 1;
  height: 0.5px;
  border: 0.5px solid black;
}

.input-box {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffff;

  border: 1px solid #062b52;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.basic-btn {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: white;

  background-color: #062b52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resetPassword {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  letter-spacing: -0.023em;
  float: right;

  color: #7f7f7f;
}
=======
>>>>>>> 7d291f6 (Refactor : GI-13 로그인css 리팩토링)
