.logoPosition {
  position: absolute;
  width: 394px;
  height: 366px;
  left: 667px;
  top: 147px;
}

.resetComponent {
  /* Group 30 */

  position: absolute;
  width: 305px;
  height: 121px;
  left: 712px;
  top: 629px;
}

.emailInput {
  /* 비밀번호 input */

  box-sizing: border-box;

  position: absolute;
  left: 41.2%;
  right: 41.15%;
  top: 59.89%;
  bottom: 37.51%;

  background: #ffffff;
  border: 1px solid #062b52;
  border-radius: 3px;
}

.nameInput {
  /* 이메일&아이디 input */

  box-sizing: border-box;

  position: absolute;
  left: 41.2%;
  right: 41.15%;
  top: 56.31%;
  bottom: 41.09%;

  background: #ffffff;
  border: 1px solid #062b52;
  border-radius: 3px;
}

.basicBtn {
  /* 회원가입 */

  box-sizing: border-box;

  position: absolute;
  left: 41.2%;
  right: 41.15%;
  top: 64.55%;
  bottom: 32.86%;

  background: #062b52;
  border-radius: 3px;
  color: white;
}

.midText {
  position: absolute;
  left: 44.04%;
  right: 43.87%;
  top: 49.96%;
  bottom: 45.75%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  letter-spacing: -0.023em;
}
