.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter";
  margin: auto;
  width: 70%;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.input {
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}
