.input {
  background-color: white;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter";
  margin: auto;
  width: 70%;
}

.oauth {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.oauth button {
  color: black;
  background-color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
}
