.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter";
  margin: auto;
  width: 70%;
}

.input {
  background-color: white;
}
