.explore-container {
  max-height: 100vh;
}

.explore-options {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
}

.explore-tools {
  display: flex;
  flex-direction: row;
}

.explore-tools-icon {
  width: 15px;
  height: 15px;
  justify-content: center;
  padding: 3px;
  margin-left: 3px;
  border-radius: 4px;
}

.explore-tools-icon:hover {
  background-color: #ccc;
}

.tree-container {
  height: 94vh;
  overflow-y: auto;
}

.tree-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

&::-webkit-scrollbar {
  display: none;
}

.code-details {
  display: flex;
  flex-direction: row;
}

.code-icon {
  padding: 2px;
}

.code-title {
  margin-left: 3px;
}
